.main-map-wrapper {
  position: relative;
  max-width: 44rem;
  height: 100%;
}

.main-map-wrapper .swiper {
  position: absolute;
  bottom: 2%;
  width: 100%;
  height: 15%;
}

.main-map-wrapper .swiper-slide {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  color: #ffffff7a;
  background: #ffffffe5;
  opacity: 0.5;
  border: 1px solid #d8d8d842;
  border-radius: 12px;
  align-items: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-map-wrapper .swiper-slide-active {
  opacity: 1;
}

.main-map-wrapper .map-detail {
  position: absolute;
  width: 90%;
  bottom: 1%;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  color: #000000;
  background: #ffffffd9;
  border: 1px solid #d8d8d842;
  border-radius: 12px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1; 
}
