.swiper-card-wrapper .swiper-card-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.swiper-card-wrapper .swiper {
  width: 100%;
  height: 40%;
}

.swiper-card-wrapper .swiper-slide {
  aspect-ratio: 3/4;
  height: 100%;
  border-radius: 15%;
  opacity: 0.5;
}

.swiper-card-wrapper .swiper-slide-active {
  opacity: 1;
}

.swiper-card-wrapper .swiper-slide-active::-webkit-scrollbar {
  display: none;
}